In [1]:
## imports
import numpy as np
import pandas as pd
import ML
import networkx as nx
from networkx.drawing.nx_agraph import graphviz_layout, to_agraph
import pygraphviz as pgv

/Users/marianofranco/.pyenv/versions/3.8.5/lib/python3.8/site-packages/pandas/compat/__init__.py:97: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
## datos
original = pd.read_csv('fertility_Diagnosis.txt')
original.head()

def age(i):
    ag = i*18+18
    if(i<=21):
        return "[18,21]"
    elif(i<=24):
        return "(21,24]"
    elif(i<=27):
        return "(24,27]"
    elif(i<=30):
        return "(27,30]"
    elif(i<=33):
        return "(30,33]"
    else:
        return "(33,36]"

original['AGE']=original['AGE'].apply(age)

def sitting(i):
    ag = i*16
    if(i<=2):
        return "[0,2]"
    elif(i<=4):
        return "(2,4]"
    elif(i<=8):
        return "(4,8]"
    elif(i<=10):
        return "(8,10]"
    elif(i<=12):
        return "(10,12]"
    elif(i<=14):
        return "(12,14]"
    else:
        return "(14,16]"

original['SITTING']=original['SITTING'].apply(sitting)

def alcohol(i):
    switcher = {
        0.2: "several times a day",
        0.4: "every day",
        0.6: "several times a week",
        0.8: "once a week",
        1: "hardly ever or never"
    }
    return switcher.get(i)

original['ALCOHOL']=original['ALCOHOL'].apply(alcohol)

def season(i):
    switcher = {
        -1: "winter",
        -0.33: "spring",
        0.33: "summer",
        1: "fall"
    }
    return switcher.get(i)

original['SEASON']=original['SEASON'].apply(season)

original.head()

,SEASON,AGE,DISEASE,TRAUMA,SURGERY,FEVERS,ALCOHOL,SMOKING,SITTING,OUTPUT
0,spring,"[18,21]",0,1,1,0,once a week,0,"[0,2]",N
1,spring,"[18,21]",1,0,1,0,once a week,1,"[0,2]",O
2,spring,"[18,21]",1,0,0,0,hardly ever or never,-1,"[0,2]",N
3,spring,"[18,21]",0,1,1,0,hardly ever or never,-1,"[0,2]",N
4,spring,"[18,21]",1,1,0,0,once a week,-1,"[0,2]",O

In [3]:
dfer = pd.DataFrame({'Cielo': 'Limpio Nublado Nublado Limpio Nublado Nublado Nublado Limpio'.split(),
                   'Barometro': 'Subiendo Subiendo Estable Bajando Bajando Subiendo Bajando Subiendo'.split(),
                   'Viento': 'Norte Sur Norte Norte Norte Norte Sur Sur'.split(),
                   'Lluvia': 'No Si Si No Si Si No No'.split()})

ML.crear_arbol(dfer)

UnboundLocalError: local variable 'id1' referenced before assignment

In [4]:
## datos
breast_cancer = pd.read_csv('breast-cancer.txt')
breast_cancer = breast_cancer[['Age','Menopause','Tumor Size','Inv. Nodes','Node Caps','Deg. Malig.','Breast','Breast Quadrant','Irradiate','Class']]
ML.crear_arbol(original)

In [7]:
original.loc[(original['ALCOHOL'] == 'once a week')  & (original['SEASON'] == 'spring') & (original['FEVERS'] == -1) & (original['TRAUMA'] == 1)]

,SEASON,AGE,DISEASE,TRAUMA,SURGERY,FEVERS,ALCOHOL,SMOKING,SITTING,OUTPUT
53,spring,"[18,21]",1,1,1,-1,once a week,0,"[0,2]",N
66,spring,"[18,21]",1,1,0,-1,once a week,0,"[0,2]",N
70,spring,"[18,21]",1,1,0,-1,once a week,0,"[0,2]",O

In [6]:
class_name = original.columns[-1]
original=original[[i for i in original if len(set(original[i]))>1 or i == class_name]]
original.head()

,SEASON,DISEASE,TRAUMA,SURGERY,FEVERS,ALCOHOL,SMOKING,OUTPUT
0,spring,0,1,1,0,once a week,0,N
1,spring,1,0,1,0,once a week,1,O
2,spring,1,0,0,0,hardly ever or never,-1,N
3,spring,0,1,1,0,hardly ever or never,-1,N
4,spring,1,1,0,0,once a week,-1,O